* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 40px;
  overflow: hidden;
}

#bb {
  background-color: #0883d6;
  padding: 10px;
  color: white;
  height: 50px;
}

.page-title {
  color: blue;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.page {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
}
