:root {
  --purple: invert(79%) sepia(69%) saturate(6996%) hue-rotate(243deg)
    brightness(104%) contrast(101%);
  --yellow: invert(87%) sepia(34%) saturate(640%) hue-rotate(346deg)
    brightness(104%) contrast(101%);
  --white: invert(94%) sepia(95%) saturate(18%) hue-rotate(297deg)
    brightness(104%) contrast(104%);

  --cream-light: #fee7b5;
  --cream-dark: #fede95;
  --red: #ff7373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

#pag1 {
  background-image: linear-gradient(
    90deg,
    var(--cream-light) 50%,
    var(--cream-dark) 50%
  );
  background-size: 70px 100%;
}

#menu-background {
  position: fixed;
  background-color: #6c0aa8;
  width: 100vw;
  height: 16vh;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
}

#menu {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.menuItem {
  position: relative;
  width: 60px;
  height: 60px;
  align-content: center;
  justify-content: center;
  background-color: #8c15d6;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.menuIcon {
  filter: var(--purple);
  position: relative;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  transition: 0.5s;
}

.menuItem::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--red);
  position: absolute;
  top: 150px;
  left: 0px;
  transition: 0.5s;
}

.menuItem:hover::after {
  top: 0px;
}

.menuItem:hover {
  transform: translateY(-8px);
}

.menuItem:hover .menuIcon {
  filter: var(--white);
}

#base {
  width: 88%;
  height: auto;
}

.base {
  position: fixed;
  z-index: 4;
  right: 17%;
  top: 17%;
}

.closet {
  width: 30vw;
  grid-area: 2/3/2/4;
  background-color: #8c15d6;
  height: 30vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 25vh;
  background-color: #bfb89c;
  display: grid;
  grid-template-rows: 0.3fr 1fr 3fr;
}

.floor {
  width: 100%;
}

.board {
  height: 6vh;
  background-color: #9a6539;
  grid-row: 2/2;
}

.boardTop {
  background-color: #bb8257;
  grid-row: 1 /1;
}
