:root {
  --purple: invert(79%) sepia(69%) saturate(6996%) hue-rotate(243deg)
    brightness(104%) contrast(101%);
  --yellow: invert(87%) sepia(34%) saturate(640%) hue-rotate(346deg)
    brightness(104%) contrast(101%);
  --white: invert(94%) sepia(95%) saturate(18%) hue-rotate(297deg)
    brightness(104%) contrast(104%);

  --cream-light: #fee7b5;
  --cream-dark: #fede95;
  --red: #ff7373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  overflow-y: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  overflow: hidden;
}

#page1 {
  background-image: linear-gradient(
    90deg,
    var(--cream-light) 50%,
    var(--cream-dark) 50%
  );
  background-size: 70px 100%;
}

#menu-background {
  position: fixed;
  background-color: #6c0aa8;
  width: 100vw;
  height: 16vh;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
}

#menu {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.menuItem {
  position: relative;
  width: 60px;
  height: 60px;
  align-content: center;
  justify-content: center;
  background-color: #8c15d6;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.menuIcon {
  filter: var(--purple);
  position: relative;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  transition: 0.5s;
}

.menuItem::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--red);
  position: absolute;
  top: 150px;
  left: 0px;
  transition: 0.5s;
}

.menuItem:hover::after {
  top: 0px;
}

.menuItem:hover {
  transform: translateY(-8px);
}

.menuItem:hover .menuIcon {
  filter: var(--white);
}

#body {
  width: 100%;
  height: auto;
  grid-area: 1/1/7/4;
}

#browSlot {
  grid-area: 1/2/1/2;
  width: 100%;
  z-index: 5;
  position: absolute;
  left: 10px;
  top: 40px;
}

#eyeSlot {
  width: 130%;
  height: auto;
  grid-area: 1/2/1/2;
  position: absolute;
  top: 50px;
}

.base {
  position: fixed;
  z-index: 4;
  right: 10%;
  top: 17%;
  width: 365px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

closet-element {
  width: 45vw;
  grid-area: 3/3/3/2;
  height: 80vh;
  z-index: 4;
  display: grid;
  grid-template-rows: 1% 7% 92%;
  grid-template-columns: 6% 94%;
}

.closet div {
  width: 100%;
  height: 100%;
}

.closetside {
  background-color: #ae9b7b;
  grid-area: 3/1/3/1;
}

.closetTop {
  background-color: #b55211;
  grid-area: 2/2/2/2;
}

.closetTopSide {
  background-color: #632f0d;
  grid-area: 2/1/2/1;
}

.closetTopTop {
  background-color: #463333;
  grid-area: 1/1/1/3;
}

.closetBase {
  background-color: #f6eed7;
  grid-area: 3/2/3/2;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 4% 19% 4% 19% 4% 19% 4% 19% 8%;
}

closet-inner {
  background-color: #835933;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 90% 10%;
}

.closetInnerBottom {
  background-color: #77311b;
  grid-area: 2/1/2/3;
}

.closetInnerSide {
  background-color: #492014;
  grid-area: 1/2/2/2;
}

.pieces {
  grid-area: 1/1/3/3;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.pieceImg {
  width: 150%;
  position: relative;
  left: -30px;
  transition: 0.5s;
}

.pieceImg:hover {
  width: 180%;
}

#inner1 {
  grid-area: 2/2/2/2;
}

#inner2 {
  grid-area: 4/2/4/2;
}

#inner3 {
  grid-area: 6/2/6/2;
}

#inner4 {
  grid-area: 8/2/8/2;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 25vh;
  background-color: #bfb89c;
  display: grid;
  grid-template-rows: 0.3fr 1fr 3fr;
}

.floor {
  width: 100%;
}

.board {
  height: 6vh;
  background-color: #9a6539;
  grid-row: 2/2;
}

.boardTop {
  background-color: #bb8257;
  grid-row: 1 /1;
}
